* {
    box-sizing: border-box;
}

:root {
    --added-list: gray;
    --non-added-list: rgb(234, 236, 233);
}

body {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1150px;
    margin: auto;
}

.flex {
    background-color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
    width: 500px;
    position: relative;
}

.input-btn button {
    border: 1px solid #dedede;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100px;
    position: absolute;
}

.flex h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.added-list ul {
    padding-left: 0;
    list-style-type: none;
    list-style: none;
}
  
.added-list ul li {    
    background-color: var(--non-added-list);  
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    position: relative;
}

.delete-icon {
    cursor: pointer; 
}

.edit-icon {
    cursor: pointer; 
}

li[data-status1="active"] {
    background-color: var(--added-list)!important;
}

.column1 {
    display: inline-block;
    width: 5%;
  }

.column2 {
    display: inline-block;
    width: 84%;
  }

  .column3 {
    display: inline-block;
    width: 5%;
  }

  .column4 {
    float: right;
    width: 5%;
  }

  













